<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>EMPR</title>
    </head>
    <body>
        <div id="app" />
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
